<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<main>

    <div class="poke-container">
        <% user.pokemons.forEach(pokemon => { %>
            
           <% if (pokemon.name == pokemonName) {%>
            <div class="pokemon">
                    
                <div>
                    <%- pokemon.name %> 
                </div>
                    
                <a href="https://www.pokemon.com/br/pokedex/<%=pokemon.pokemonName %>">
                    <div class="poke-image">
    
                        <img src="<%=pokemon.image %>" alt="">
                    </div>
                </a>
                <div>
                    <h3>Owner: <%-user.tag%></h3>
                </div>
                <h4><%- pokemon.pokemonId %></h4>
                <div class="poke-type">
                  <%- pokemon.type %>
                </div>
                
        
           <% } %>
           
        
        <% }); %>
        
        <div class="form-container">
            <form action="POST">
                <input placeholder="points..." class="pts-input">
                <div class="btn-container">
                    <a href="/dashboard" style="text-decoration: none;"><button class="btn-sell">Sell</button></a>
                </div>
            </form>
        </div>
        
        
                
        
        
    
    </div>
    
    
</main>



<script src="/scripts/colors.js"></script>
<%- include('partials/footer') -%>