<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<main>
    <div class="profile">
        <div class="profile-image">
            <img src="https://cdn.discordapp.com/avatars/<%= user.playerId %>/<%= user.icon %>.webp" alt="" class="profile-image">
        </div>
        <div class="profile-tag">
            <%= user.tag %> 
        </div>
        <div class="profile-type"></div>
        <div class="user-points">
            <div class="coin">
                💰
                <%= user.points %> 
            </div> 
        </div>
    </div>
    <div class="timeline-box">
        <div class="timeline">
            <% user.activities.forEach(activ => { %>
                <div class="timeline-container right">
                    <div class="content">
                      <img src="<%= activ.image %> " alt="" style="width: 40px;height: 40px;">
                      <div class="timeline-content-desc">
                        <%= activ.message %>
                      </div>
                    </div>
                  </div>
            <% }) %>
            
          </div>
    </div>
    <div class="title">Player's Pokedex</div>
    <div class="poke-container">
        <% if (user.pokemons.length == 0) { %>
            <div class="message">This user doesn't have any pokemons :(</div>
           <% } %>
        <% user.pokemons.forEach(pokemon =>{ %>
            <div class="pokemon">
                
                <div>
                    <%- pokemon.name %> 
                </div>
                    
                <a href="https://www.pokemon.com/br/pokedex/<%=pokemon.name.includes('-') ? pokemon.name.split('-')[0]: pokemon.name %>">
                    <div class="poke-image">
    
                        <img src="<%=pokemon.image %>" alt="">
                    </div>
                </a>
                <br>
                <div>
                    Shine:<%- pokemon.shiny %>
                </div>
                <div class="poke-type">
                  <%- pokemon.type %>
                </div>
                <h4><%= pokemon.pokemonId%></h4>
                <div class="points">
                    <input  placeholder="points...">
                </div>    
            </div>
            
          <% }); %>
    </div>

    <div class="title">
        Cards
    </div>
    <div class="card-container">
        <% if (user.cards.length == 0) { %>
             <div class="message">This user doesn't have any poke cards :(</div>
            <% } %>
        <% user.cards.forEach(card =>{ %>
            
            <div class="card">
                <img src="<%= card.image  %> " alt="">
            </div>
        
        <% }); %>   
    </div>
</main>







<script src="/scripts/type.js"></script>
<script src="/scripts/colors.js"></script>

<%- include('partials/footer') -%>
